/* Testimonials */
.container{
    max-width: 1170px;
    margin: aito;
    padding: 0 15ps;
}
.section-header{
    text-align: center;
    margin-bottom: 20px;
}
.section-header .title1{
    font-size: 2rem;
    /* font-weight: 600;
    text-transform: capitalize;
    color: black;
    line-height: 1.2; */
}
.testimonials{
    padding-top: 50px;
}
.testimonials-item{
    box-sizing: border-box;
    /* -moz-box-sizing: border-box; */
    -webkit-box-sizing: border-box;
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(163, 163, 163);
    padding: 30px;
    border-radius: 30px;
}
.testimonials-item .info{
    display: flex;
    align-items: center;
}
.testimonials-item img{
    max-width: 80px;
    border-radius: 50%;
    margin-right: 20px;
    vertical-align: middle;
}
.testimonials-item .name{
    font-size: 24px;
    text-transform: capitalize;
    font-weight: 600;
    color: hsl(0, 0%, 0%);
    line-height: 1.2;
}
.testimonials-item .job{
    text-transform: capitalize;
    color: hsl(0, 0%, 40%);
}
.testimonials-item p{
    margin-top: 20px;
    color: hsl(0, 0%, 40%);
}
.testimonials-item .rating{
    margin-top: 15px;
    font-size: 14px;
    color: hsl(36, 88%, 66%);
}
.testimonials .swiper-pagination{
    position: relative;
    margin-top: 20px;
    bottom: auto;
}
.testimonials .swiper-pagination-bullet{
    height: 12px;
    width: 12px;
    background-color: hsl(0, 0%, 0%);
}


/* Experience */
.skillsContainer {
    text-align: center;
    font-size: 0.7rem;
}

.skillsGrid {
  display: flex;
  justify-content: space-around;
  row-gap: 40px;
  column-gap: 40px;
  flex-wrap: wrap;
}

.skillsGrid li {
  background-color: white;
  padding: 10px;
  border-radius: 15px;
  width: 80px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -webkit-box-shadow: 0px 4px 8px rgba(134, 151, 168, 0.2);
          box-shadow: 0px 4px 8px rgba(134, 151, 168, 0.2);
  border: 1px solid #eee;
  list-style: none;
}

.skillsGrid li p {
  color: black;
  margin-top: 10px;
  font-family: "inter", sans-serif;
  font-weight: 500;
  font-size: 1.1em;
}

.skillsGrid li img {
  width: 35px;
  height: 35px;
}

.skillsGrid li:hover {
  -webkit-box-shadow: 0 10px 28px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 28px rgba(0, 0, 0, 0.2);
}
  
@media screen and (max-width: 500px) {
    .skillsGrid{
        row-gap: 25px;
        column-gap: 14px
    }

    .skillsGrid li{
        width: 70px;
    }

    .skillsGrid li:hover {
        -webkit-box-shadow: 0 10px 28px rgba(0, 0, 0, 0.2);
            box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2);
    }

    .skillsSection{
        margin: 0px!important;
    }
}


/* Contact Info */